{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p{% if message.tags %} class="{% if message.tags == 'warning' %}
                                                    alert alert-warning
                                                {% elif message.tags == 'error' %}
                                                    alert alert-danger
                                                {% elif message.tags == 'success' %}
                                                    alert alert-success
                                                {% endif %}"
                                            {% endif %}>
                {% if "html_safe" in message.tags %}
                    {{ message|safe }}
                {% else %}
                    {{ message }}
                {% endif %}</p>
        {% endfor %}
    </div>
{% endif %}