<table class="table table-striped" id="games_table">
    <thead>
        <tr>
            {% for h in games_headers %}
                <th>{{ h }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for k, r in games_tbl.items %}
        <tr>
            {% for s in r %}
                <td>{{ s }}</td>
            {% endfor %}
            <td>
                {% if request.user.is_authenticated %}
                    <a href="{% url "tournaments:edit-game" k %}" title="edit" >
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="{% url "tournaments:delete-game" k %}" onclick="return confirm('Are you sure?')" title="delete">
                        <i class="bi bi-x-circle"></i>
                    </a>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
