{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            {% if tournament_list %}
                <h3>Tournaments</h3>
            {% else %}
                <h3>Your have not started any tournament yet.</h3>
            {% endif %}
        </div>       
        <!-- Create a tournament -->
       <br><br>
        {% if request.user.is_authenticated %}
            <a href="{%  url 'tournaments:create-tournaments' %}" role="button">
    {#            <i class="fa-regular fa-square-plus fa-lg" title="Create tournament"></i>#}
                <span class="badge bg-primary rounded-pill" title="New tournament">+ New tournament</span>
            </a>
        {% endif %}
        <br><br>
    </div>
    {% if tournament_list %}
        {% include 'tournaments/partials/tournament-list-table.html' %}
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/data_table.js' %}"></script>
{% endblock js %}
