{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <h3>Game</h3>
                <hr>
                <h4>Tournament: {{ tournament.name }}</h4>
                <h5 id="participantscheck" style="color: red;" hidden>
                    All participants should be different.
                </h5>
                {{ form|crispy }}
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
            <h3>Results</h3>
            <hr>
                {% for form in participant_formset %}
                    <div class="participant-form">
                        {{ participant_formset.management_form }}
                        <h4>{{ form.participant }}</h4>
                        {{ form.as_p }}
                    </div>
                    <hr>
                {% endfor %}
                <button type="submit" id="submitbtn" class="btn btn-primary">Save</button>
                <a href="{% url 'tables:tournament-tables' tournament_id=tournament.id tbl_type='ranks' %}" class="btn btn-primary">
                    Back
                </a>
            </div>
        </div>
    </form>
{% endblock %}

