{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <h3>
            {% if tournament_list %}
                Tournaments:
            {% else %}
                Your have not started any tournament yet.
            {% endif %}
        </h3>
        <!-- Create a tournament -->
       <br><br>
        <a href="{%  url 'games:create-tournaments' %}" role="button">
{#            <i class="fa-regular fa-square-plus fa-lg" title="Create tournament"></i>#}
            <span class="badge bg-primary rounded-pill" title="New tournament">+ New tournament</span>
        </a>
        <br><br>
    </div>
    {% if tournament_list %}
        {% include 'games/partials/tournament-list-table.html' %}
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/data_table.js' %}"></script>
{% endblock js %}
