/* LGA colors */

.lga {
  border-top: 3px solid #ff8033;
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 0.15);
}

hr.lga {
  border-top: 1px solid #ff8033;
  box-shadow:0px 1px 4px #ff8033;
  opacity: 0.5;
}

/* General customizations */
main { padding-top: 10px; }

footer {
  /*background-color: #f2f2f2;*/
  color: black;
}
a {
  color: #666666;
  text-decoration: none;
}
a:hover {
  color: #000000;
}
.btn-table {
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
}
/*.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}*/
.clearfix {
  margin: 15px;
}
.card {
  width: 18rem;
}

.rrgames {
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  // border: none;
  border-radius: 5px;

}

.rightmenu{
  float: right;
}

/*a.rightmenulink {*/
/*  padding: 0px 5px;*/
/*  font-size: small;*/
/*  word-wrap: normal;*/
/*  display: inline-block;*/
/*  text-decoration: none;*/
/*}*/

a.rightmenulink {
  padding: 0px 5px;
  /*font-size: small;*/
  word-wrap: normal;
  display: inline-block;
  /*text-decoration: underline;*/
}

.default_form {
  /*max-width: 400px;*/
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login_form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ff8033;;
  border-radius: 5px;
}

.login_form h2 {
  text-align: center;
}

.login_form form {
  margin-top: 20px;
}

.login_form form label {
  display: block;
  margin-bottom: 5px;
}
.login_form form input[type="text"],
.login_form form input[type="email"],
.login_form form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.login_form form button {
  width: 100%;
  padding: 10px;
  /*background-color: #4caf50;*/
  /*color: white;*/
  /*border: none;*/
  cursor: pointer;
}
